html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#carpetMap {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
  
  body {
    background-image: url('images/mosaic.png');  /* Use the carpet image as background */
    background-repeat: repeat;                  /* Tile the image across the page */
    background-position: top left;              /* Align the first image with the left edge */
    background-size: cover;                     /* Tile the background */
  }


  